:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Images/PublicImages/image-2.jpg");
  opacity: var(--mainOpacity);
  height: 25em !important;
  background-size: cover; /* Ensures the background image covers the entire element */
  background-position: center; /* Centers the background image */
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #000000;
}

.col-image-left,
.col-image-right,
.lost-image {
  background-size: cover;
  background-position: center;
  height: 25em !important;
}

.col-image-left {
  background-image: url("./Images/PublicImages/image-4.jpg");
}

.col-image-right {
  background-image: url("./Images/PublicImages/image-1.jpg");
}

.lost-image {
  background-image: url("./Images/PublicImages/image-3.jpg");
  width: 400px; /* Adjust the width as needed */
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

